body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#footer {
    color: white;
    border-top: 2px solid #d3414c;
    ;
    font-size: 20px;
    padding-left: 10px;
    background-color: #8a8a8d;
    position: relative;
    bottom: 0;
    height: auto;
    width: auto;
    margin: 0;
}


/*___________NAVIGATION BAR BEGINS______________*/

.nav
{
width:100%;
height:70px;
background-color:white;
padding:0;
margin:0;
position:fixed;
z-index:99;
top:0;
border-bottom:2px solid #8a8a8b;
}

.nav ul
{
float:right;
}

.nav ul li
{
float:left;
list-style:none;
position:static;
}


.logo {
    width: 240px;
    float: left;
}

/* for th ul tags*/


.nav li{
    float: left;
    width: 120px;
    height: 54px;
    line-height: 70px;
    text-align: center;
    list-style: none;
    transition: 0.5s;
    z-index:100;
    position:static;
}

.nav li a{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    display: block;
    position:static;
    height:54px;
}

.nav li:hover {
    background: #d3414c ;


}

.nav  li  a:hover {
    color: #fff;
}

.nav ul li ul
{
display:none;
position:static;
background-color:white;
padding:0;
}

.nav ul li ul li a{
    text-align:left;
    width:250px;
    padding-left:10px;
}

.nav ul li ul li{
    width:auto;
}

.nav ul li:hover ul
{
display:block;
z-index:999;
position:relative;
left:142px;
border:1px solid grey;
}

/*___________NAVIGATION BAR ENDS_________*/

.imageandcaption {
    margin-top: 70px;
    font-size: 3vw;
    text-align: center;
    color: #d3414c;
}

.text {
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    color: #8a8a8d;
    text-align: justify;
    font-size: 20px;
}

.band {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}
